@media screen and (max-width: 700px) {
  #features {
    padding: 20px;
    width: 100%;
  }
  #header {
    width: 100%;
  }
  #menu {
    position: relative;
    margin-bottom: 0px;
    width: 100vw;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 100%;
  }

  #portfolio {
    width: 100%;
  }
}
